@model WebApp.ViewModels.Restaurant.RestaurantIndexViewModel

@{
    foreach (var res in Model.Restaurants)
    {
        <div class="p-3 @(Model.IsRestaurantOwnerView ? "" : "hvr-grow")">
            <a class="image-action" asp-action="RestaurantMenu" onclick="Event.prototype.preventDefault()" asp-route-restaurantId="@res.Id">
                <div class="d-flex flex-column">
                    <div class="borders">
                        <img class="restaurantImage text-in-hover" src="@res.Picture" alt="logo" width="300" height="200"/>
                        <div class="p-2 restaurant_name text-in-hover inner-margin-restaurant-text">@res.Name</div>
                        <div class="p-2 text-in-hover inner-margin-restaurant-text">@res.Description</div>
                        <div class="p-2 text-in-hover inner-margin-restaurant-text">@res.RestaurantAddress</div>
                        @if (Model.IsRestaurantOwnerView)
                        {
                            <div class="p-2 inner-margin-restaurant-text">
                                <a asp-action="Edit">Edit</a>&nbsp;|
                                <a asp-action="Delete">Delete</a>&nbsp;|
                                <a asp-action="RestaurantMenu">Menu</a>&nbsp;|
                                <a>Orders</a>
                            </div>
                        }
                    </div>
                </div>
            </a>
        </div>
    }
}

@section Scripts
{
    <script>
    </script>
}