@using BLL.App.DTO.OrderModels.DbEnums
@model WebApp.ViewModels.Menu.MenuActionViewModel



<div class="restaurantMenu d-flex flex-row flex-wrap align-items-center">
    <img class="image-radius" src="@Model.Restaurant.Picture" alt="logo" width="325" height="225"/>
    <div class="d-flex flex-column flex-wrap p-3">
        <div class="p-3 restaurant_name restaurant-header">
            @Model.Restaurant.NameLang
        </div>
        <div class="p-3 restaurant-extra-text">@Model.Restaurant.DescriptionLang</div>
        <div class="p-3 restaurant-extra-text">@Model.Restaurant.RestaurantAddress</div>
        <div class="p-3 restaurant-extra-text">
            @{
                foreach (var contact in Model.Socials)
                {
                    @if (contact.ContactType!.TypeName == EContactType.Facebook && contact.ContactValue != "")
                    {
                        <a href="@contact.ContactValue" target="popup">
                            <i class="fab fa-facebook-square fa-2x socials hvr-grow mr-2"></i>
                        </a>
                    }
                    else if (contact.ContactType!.TypeName == EContactType.Instagram && contact.ContactValue != "")
                    {
                        <a href="@contact.ContactValue" target="popup">
                            <i class="fab fa-instagram fa-2x socials hvr-grow mr-2"></i>
                        </a>
                    }
                    else if (contact.ContactType!.TypeName == EContactType.Number && contact.ContactValue != "")
                    {
                        <a href="/" target="popup">
                            <i onclick="" class="fas fa-phone-square-alt fa-2x socials hvr-grow mr-1"></i>
                        </a>
                        <span class="phone-number text-in-hover">@contact.ContactValue</span>
                    }
                }
            }
        </div>
    </div>
</div>
